<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<meta name="<%= data.description %>" content="">
<meta name="keywords" content="">
<title><%= data.title %></title>
<link rel="stylesheet" href="<%= data.css %>common.css">
<link rel="stylesheet" href="<%= data.css %><%= data.title %>.css">
</head>
